[submodule "/srv/salt/formula/git"]
	path = formula/git
	url = https://github.com/saltstack-formulas/git-formula.git
[submodule "/srv/salt/formula/openssh"]
	path = formula/openssh
	url = https://github.com/saltstack-formulas/openssh.git
[submodule "/srv/salt/formula/salt"]
	path = formula/salt
	url = https://github.com/saltstack-formulas/salt-formula.git
[submodule "formula/systemd"]
	path = formula/systemd
	url = git@github.com:saltstack-formulas/systemd-formula.git
